*{margin : 0;
padding : 0;
box-sizing : border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(83, 243, 243, 0.648);
    color: aliceblue;
    line-height: 1.6;
    padding: 5%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #38bdf8;
}

p {
    max-width: 600px;
}

ul{
    list-style-type: square;
    margin-left: 20px;
}

a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}   

img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 8px;
}

header, main, footer {
    margin-bottom: 40px;
}

section {
    margin-bottom: 30px;
}